<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assignments</title>
    <head>
    <body>
    <p>As a beginner, each assignment this semester presented a challenge for me.</p>
    <p>Although COVID-19 prevented us from holding classes, working on these projects at home has made me nostalgic.</p>
    <p>From first assignment to last:</p> 
    <p><b>Homework 1a</b> required us to understand binary numbers and Boolian Logic</p>
    <p><b>Homework 1b</b> was learning how to manipulate lists (i.e. reshuffle orders)</p>
    <p><b>Homework 2a</b> involved selection sort, sequential search, binary search, and calculating time complexity</p>
    <p><b>Homework 2b</b> was all about running simulations; the key here for me was naming variables correctly ;)</p>
    <p><b>Homework 3a</b> was doing set style operations on lists and solving recursively</p>
    <p><b>Homework 3b</b> demanded an understanding of numpy to solve a percolation problem in addition to reading from a dataset</p>
    <p>The <b>Midterm</b> was changing images - this assignment required an understanding of PPM files</p>
    <p><b>Homework 4</b> was using object-oriented codebase to correct a model and reading and interpreting error messages to fill in the missing details</p>
    <p><b>Homework 5</b> was completing a machine learnign library and reading from a dataset in order to accomplish this</p>
    <p>The <b>Final</b> is making our own webiste using HTML!</p>
    <p></p>
    <p>My <b>favorite</b> assignment this semester is <b>this</b> one because I feel like it encourages and rewards curiosity the most, finally something I'm good at! lol</p>
    <p>But seriously, making a website for myself is something I've thought of doing before as a personal project, so being able to do it in class is super helpful/awesome. </p>
    <p>Also, as someone who has <b>never</b> coded before, this assignment is fun because it bridges the gap between coding and creating.</p>
    </body>
</html>
