<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Courses</title>
    <head>
    <body>
    <p>The courses I'm taking this semester are:</p>
    <p><b>Clinical Neuropsychology</b></p>
    <p><b>Introduction to the Literary Methods of Art History</b></p>
    <p><b>Renaissance Architecture</b></p>
    <p><b>Basic Drawing</b></p>
    <p>And this course, <b>Introduction to Statistical Computing for Engineers</b>.</p>
    <p>My favorite class I've taken at Columbia was <b>American Art in the 
    'Long' 19th Century</b>.</p>
    <p>This course was my favorite - no offense to this class, it's been real, 
    Tim - because of the museum visits and relevant information learned.</p>
    <p>I'm biased as a humanities major, but as a Canadian, I felt that 
    learning 19th Century American History was super relevant for helping me 
    understand the United States today.</p>
    </body>
</html>
