<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
        <p>Welcome to my <b> final </b> project!</p> 
        <p>My name is <b> Ryan Watt </b> (rbw2138).</p>
        <p>I am a <b> senior </b> and my majors are <b> Art History </b> and <b> Psychology</b>.</p>
        <p>My favourite website is the <a href="https://www.wsj.com">Wall Street Journal</a>.</p>
        <p>Checkout engi1006 <a href="/assignments">assignments</a> or what <a href="/courses">classes</a> I'm taking this semester</p>
        <p><p><img src="pic_of_me.jpg" alt=“nerd” style="width:auto;"></p>
        
    </body>
</html>
